/** @format */

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-section {
  position: relative;
  left: 15rem;
  top: 10rem;
  width: 50rem;
  height: 20rem;
  /* border: 1px solid black; */
  border-radius: 3rem;
  background-color: #c7cfde;
}

.post-contents {
  display: flex;
  padding: 4rem;
  justify-content: center;
  align-items: center;
}

.post-feedback {
  position: relative;
  bottom: 6.2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5rem;
}

.profimg {
  width: 8rem;
  height: 8rem;
  margin-right: 2rem;
}

.propimg {
  position: relative;
  bottom: 2rem;
  width: 35rem;
  height: 15rem;
  border-radius: 5rem;
}

.post-feedback-comment {
  font-size: 1.5rem;
  font-weight: 300;
  padding-right: 2rem;
}

.post-feedback-like {
  font-size: 2.5rem;
  font-weight: 300;
}

.side-menu {
  margin-top: 5.2rem;
}
